/* #15dc5a */
/* #9529f9 */
/* #8AEBAB */
/* #D9B5FD */
@-ms-viewport {
  width: device-width;
}
/*
@font-face {
    font-family:"Fira Mono";
    src:url("../font/Fira/Fira_Mono/FiraMono-Regular.ttf") format("truetype");
    font-display:swap;
    font-style:normal;
    font-weight:400;
}
@font-face {
    font-family:"Fira Mono";
    src:url("../font/Fira/Fira_Mono/FiraMono-Medium.ttf") format("truetype");
    font-display:swap;
    font-style:normal;
    font-weight:500;
}
@font-face {
    font-family:"Fira Mono";
    src:url("../font/Fira/Fira_Mono/FiraMono-Bold.ttf") format("truetype");
    font-display:swap;
    font-style:normal;
    font-weight:700;
}

@font-face {
    font-family:"Fira Sans";
    src:url("../font/Fira/Fira_Sans/FiraSans-Light.ttf") format("truetype");
    font-display:swap;
    font-style:normal;
    font-weight:300;
}

@font-face {
    font-family:"Fira Sans", sans-serif;
    src:url("../font/Fira/Fira_Sans/FiraSans-LightItalic.ttf") format("truetype");
    font-display:swap;
    font-style:italic, oblique;
    font-weight:300;
}

@font-face {
    font-family:"Fira Sans";
    src:url("../font/Fira/Fira_Sans/FiraSans-Regular.ttf") format("truetype");
    font-display:swap;
    font-style:normal;
    font-weight:400;
}

@font-face {
    font-family:"Fira Sans";
    src:url("../font/Fira/Fira_Sans/FiraSans-Italic.ttf") format("truetype");
    font-display:swap;
    font-style:italic, oblique;
    font-weight:400;
}

@font-face {
    font-family:"Fira Sans";
    src:url("../font/Fira/Fira_Sans/FiraSans-Bold.ttf") format("truetype");
    font-display:swap;
    font-style:normal;
    font-weight:700;
}

@font-face {
    font-family:"Fira Sans";
    src:url("../font/Fira/Fira_Sans/FiraSans-BoldItalic.ttf") format("truetype");
    font-display:swap;
    font-style:italic, oblique;
    font-weight:700;
}
*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  background-color: #1e1e1e !important;
  margin: 0;
  font-family: "Fira Sans", sans-serif !important;
  font-weight: 300;
  letter-spacing: 1.5px;
  text-rendering: optimizeLegibility;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
:root {
  scrollbar-face-color: #222;
  /* Firefox 63 compatibility */
  scrollbar-track-color: #333;
  /* Firefox 63 compatibility */
  scrollbar-color: #222 #333;
  scrollbar-width: thin;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
a {
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
main {
  background-color: #1e1e1e;
}
section {
  background: #1e1e1e;
  color: lightgray;
}
section#blend_page {
  height: 100svh;
  color: #222;
  background: #1e1e1e;
  padding: 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
section#blend_page div.landing_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: calc(1em * 4);
  position: relative;
  text-align: center;
}
section#blend_page div.landing_box h1 {
  color: transparent;
  background-image: linear-gradient(90deg, #15dc5a 40%, #9529f9 70%);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 2rem;
}
section#blend_page div.landing_box h2 {
  color: #15dc5a;
}
section#blend_page div.landing_box p {
  color: lightgray;
}
/* section#blend_page */
div#container {
  display: flex;
  flex-direction: column;
}
div#container div#help {
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-bottom: 1em;
}
div#container div#help svg#help_icon {
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
div#container div#help svg#help_icon:hover {
  cursor: pointer;
  color: lightgray;
}
div#container div#help div#help_message {
  font-size: 0.9rem;
  font-style: italic;
}
div#container div#error_message {
  width: 100%;
  color: #f0648c;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: calc(1em * 2);
  text-align: center;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
div#container div#bar {
  width: 100%;
  display: flex;
}
div#container div#bar label {
  cursor: pointer;
  width: 33.33%;
  color: #d9b5fd;
  border-radius: calc(8px / 2) calc(8px / 2) 0 0;
  padding: 1em;
  font-family: "Fira Mono", monospace;
  font-size: 1rem;
  font-weight: bolder;
  text-align: center;
  transition: all 0.4s;
}
div#container div#bar label:hover {
  background-color: #181818;
}
div#container div#bar label:nth-of-type(2) {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
div#container div#line_container {
  width: 100%;
  height: 2px;
  margin-bottom: 1em;
}
div#container div#line_container div#line {
  width: 33.33%;
  height: 1px;
  background: -webkit-linear-gradient(left, #8aebab, #d9b5fd);
  background: -moz-linear-gradient(left, #8aebab, #d9b5fd);
  background: linear-gradient(to right, #8aebab, #d9b5fd);
  transition: all 0.4s;
}
div#container input.slider__nav {
  cursor: pointer;
  display: inline;
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
div#container input.slider__nav:checked {
  border-bottom: none;
}
div#container input.slider__nav:checked:nth-of-type(1) ~ div#bar label:nth-of-type(1) {
  background-color: #2d2d2d;
}
div#container input.slider__nav:checked:nth-of-type(1) ~ div#bar label:not(:nth-of-type(1)) {
  border-radius: 0;
}
div#container input.slider__nav:checked:nth-of-type(1) ~ div#bar label:nth-of-type(2) {
  border-right: 1px solid #2d2d2d;
}
div#container input.slider__nav:checked:nth-of-type(1) ~ div#blend_container div#content_container {
  margin-left: 0;
}
div#container input.slider__nav:checked:nth-of-type(1) ~ div#line_container div#line {
  margin-left: 0%;
}
div#container input.slider__nav:checked:nth-of-type(2) ~ div#bar label:nth-of-type(2) {
  background-color: #2d2d2d;
}
div#container input.slider__nav:checked:nth-of-type(2) ~ div#blend_container div#content_container {
  margin-left: -100%;
}
div#container input.slider__nav:checked:nth-of-type(2) ~ div#line_container div#line {
  margin-left: 33.33%;
}
div#container input.slider__nav:checked:nth-of-type(3) ~ div#bar label:nth-of-type(3) {
  background-color: #2d2d2d;
}
div#container input.slider__nav:checked:nth-of-type(3) ~ div#bar label:not(:nth-of-type(3)) {
  border-radius: 0;
}
div#container input.slider__nav:checked:nth-of-type(3) ~ div#bar label:nth-of-type(2) {
  border-left: 1px solid #2d2d2d;
}
div#container input.slider__nav:checked:nth-of-type(3) ~ div#blend_container div#content_container {
  margin-left: -200%;
}
div#container input.slider__nav:checked:nth-of-type(3) ~ div#line_container div#line {
  margin-left: calc(66.6% + 0.5px);
}
div#container div#blend_container {
  width: 100%;
  height: 100%;
  color: white;
  overflow: hidden;
}
div#container div#blend_container div#content_container {
  width: 300%;
  height: 100%;
  transition: all 0.4s;
  display: flex;
  /* slide */
}
div#container div#blend_container div#content_container div#random_slide {
  flex-direction: column;
  justify-content: space-around;
}
div#container div#blend_container div#content_container div.slide {
  width: 33.33%;
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  position: relative;
}
div#container div#blend_container div#content_container div.slide div#blend_inputs_container {
  width: 100%;
}
div#container div#blend_container div#content_container div.slide div.input_container {
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(#1e1e1e, #1e1e1e) padding-box, linear-gradient(to bottom right, #15dc5a, #8aebab, #d9b5fd, #9529f9) border-box;
  border: 1px solid transparent;
  margin: 1em 0;
  padding: 1em;
}
div#container div#blend_container div#content_container div.slide div.input_container input.color_input {
  width: 100%;
  color: lightgray;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-family: "Fira Mono", monospace;
  font-size: 0.9rem;
  text-transform: uppercase;
}
div#container div#blend_container div#content_container div.slide div.input_container input.color_input:focus {
  outline: none;
}
div#container div#blend_container div#content_container div.slide div.button {
  color: #1e1e1e;
  display: block;
  border-radius: 8px;
  padding: 1em;
  font-family: "Fira Mono", monospace;
  font-weight: 600;
  text-align: center;
  -webkit-transition: background-color 0.2s, border 0.2s;
  -ms-transition: background-color 0.2s, border 0.2s;
  -o-transition: background-color 0.2s, border 0.2s;
  transition: background-color 0.2s, border 0.2s;
}
div#container div#blend_container div#content_container div.slide div.button:hover {
  cursor: pointer;
}
div#container div#blend_container div#content_container div.slide div#search_button {
  background-color: #8aebab;
}
div#container div#blend_container div#content_container div.slide div#blend_button {
  background: #8aebab;
  background: -webkit-linear-gradient(top left, #8aebab, #d9b5fd);
  background: -moz-linear-gradient(top left, #8aebab, #d9b5fd);
  background: linear-gradient(to bottom right, #8aebab, #d9b5fd);
  border: 1px solid #8aebab;
  opacity: 1;
  z-index: 1;
  -webkit-transition: opacity 0.2s, border 0.2s;
  -ms-transition: opacity 0.2s, border 0.2s;
  -o-transition: opacity 0.2s, border 0.2s;
  transition: opacity 0.2s, border 0.2s;
}
div#container div#blend_container div#content_container div.slide div#blend_button:hover {
  opacity: 0;
}
div#container div#blend_container div#content_container div.slide div#blend_button_new {
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
  background: #d9b5fd;
  background: -webkit-linear-gradient(top left, #d9b5fd, #8aebab);
  background: -moz-linear-gradient(top left, #d9b5fd, #8aebab);
  background: linear-gradient(to bottom right, #d9b5fd, #8aebab);
  border: 1px solid #d9b5fd;
  position: absolute;
  z-index: 0;
}
div#container div#blend_container div#content_container div.slide div#random_button {
  background: #d9b5fd;
}
div#container div#blend_container div#content_container div.slide div#random_gradient {
  background: #8aebab;
  background: -webkit-linear-gradient(top left, #8aebab, #d9b5fd);
  background: -moz-linear-gradient(top left, #8aebab, #d9b5fd);
  background: linear-gradient(to bottom right, #8aebab, #d9b5fd);
  border: 1px solid #8aebab;
  opacity: 1;
  z-index: 1;
  -webkit-transition: opacity 0.2s, border 0.2s;
  -ms-transition: opacity 0.2s, border 0.2s;
  -o-transition: opacity 0.2s, border 0.2s;
  transition: opacity 0.2s, border 0.2s;
}
div#container div#blend_container div#content_container div.slide div#random_gradient:hover {
  opacity: 0;
}
div#container div#blend_container div#content_container div.slide div#random_gradient_new {
  bottom: calc(1em * 1.5);
  background: #d9b5fd;
  background: -webkit-linear-gradient(top left, #d9b5fd, #8aebab);
  background: -moz-linear-gradient(top left, #d9b5fd, #8aebab);
  background: linear-gradient(to bottom right, #d9b5fd, #8aebab);
  border: 1px solid #d9b5fd;
  position: absolute;
  z-index: 0;
}
.section-hidden {
  opacity: 0;
  display: none !important;
}
section#colors_section {
  width: 100%;
  border-top: 1px solid gray;
  padding: 0 1em 1em 1em;
}
section#colors_section div.palette_container {
  margin: 1em auto;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
section#colors_section div.palette_container h2 {
  width: auto;
  color: #d9b5fd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: calc(1em * 2) 0;
}
section#colors_section div.palette_container h2:after,
section#colors_section div.palette_container h2:before {
  content: "";
  height: 2px;
  flex-grow: 1;
}
section#colors_section div.palette_container h2:before {
  background: -webkit-linear-gradient(left, #8aebab, #d9b5fd);
  background: -moz-linear-gradient(left, #8aebab, #d9b5fd);
  background: linear-gradient(to right, #8aebab, #d9b5fd);
  margin-right: 1em;
}
section#colors_section div.palette_container h2:after {
  background: -webkit-linear-gradient(right, #8aebab, #d9b5fd);
  background: -moz-linear-gradient(right, #8aebab, #d9b5fd);
  background: linear-gradient(to left, #8aebab, #d9b5fd);
  margin-left: 1em;
}
section#colors_section div.palette_container div.gradient {
  width: 100%;
  height: 100px;
  border: 1px solid white;
  border-radius: 8px;
  margin-bottom: 1em;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
section#colors_section div.palette_container div.about {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
section#colors_section div.palette_container div.about div.active_color {
  width: 30%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  margin-right: 1em;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
section#colors_section div.palette_container div.about table.info {
  width: 70%;
  color: lightgray;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  text-transform: uppercase;
  border-spacing: calc(1em / 2);
}
section#colors_section div.palette_container div.about table.info td.hex_label,
section#colors_section div.palette_container div.about table.info td.rgb_label,
section#colors_section div.palette_container div.about table.info td.cmyk_label {
  text-align: left;
  font-weight: bold;
}
section#colors_section div.palette_container div.palette {
  width: 100%;
  height: auto;
  opacity: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: height 0.5s, opacity 0.5s;
  -moz-transition: height 0.5s, opacity 0.5s;
  -ms-transition: height 0.5s, opacity 0.5s;
  -o-transition: height 0.5s, opacity 0.5s;
  transition: height 0.5s, opacity 0.5s;
}
section#colors_section div.palette_container div.palette .color {
  cursor: pointer;
  width: 50px;
  height: 70px;
  border-radius: 8px;
  margin: calc(1em/8);
  flex-grow: 1;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2) inset, -1px -1px black inset, 1px 1px black;
  -webkit-transition: width 0.5s, background-color 0.5s;
  -moz-transition: width 0.5s, background-color 0.5s;
  -ms-transition: width 0.5s, background-color 0.5s;
  -o-transition: width 0.5s, background-color 0.5s;
  transition: width 0.5s, background-color 0.5s;
}
footer {
  width: 100%;
  color: lightgray;
  background-color: #1e1e1e;
  border-top: 1px solid gray;
  display: flex;
  flex-direction: column;
  padding: calc(1em * 2);
}
footer div#copyright {
  margin-top: 1em;
  padding: 1em;
  text-align: center;
  border-top: 1px solid gray;
}
.clicked {
  width: 140px !important;
}
/* DESKTOP */
@media only screen and (min-width: 960px) {
  section#blend_page {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-column-gap: calc(1em * 3);
    -moz-column-gap: calc(1em * 3);
    column-gap: calc(1em * 3);
    flex-direction: row;
  }
  section#blend_page div.landing_box {
    width: 50%;
  }
  section#blend_page div#container {
    width: 50%;
  }
  section#colors_section div.palette_container {
    width: 60%;
  }
}
/* TABLET */
@media only screen and (max-width: 959px) {
  section#blend_page {
    justify-content: space-between;
    flex-direction: column;
  }
  section#blend_page div.landing_box {
    width: 70%;
  }
  section#blend_page div#container {
    width: 60%;
  }
  section#colors_section div.palette_container {
    width: 80%;
  }
}
/* MOBILE */
@media only screen and (max-width: 650px) {
  section#blend_page {
    justify-content: space-between;
    flex-direction: column;
  }
  section#blend_page div.landing_box {
    width: 100%;
  }
  section#blend_page div#container {
    width: 100%;
  }
  section#colors_section div.palette_container {
    width: 100%;
  }
}
