/* #15dc5a */
/* #9529f9 */
/* #8AEBAB */
/* #D9B5FD */
@-ms-viewport {
  width: device-width;
}
/*
@font-face {
    font-family:"Fira Mono";
    src:url("../font/Fira/Fira_Mono/FiraMono-Regular.ttf") format("truetype");
    font-display:swap;
    font-style:normal;
    font-weight:400;
}
@font-face {
    font-family:"Fira Mono";
    src:url("../font/Fira/Fira_Mono/FiraMono-Medium.ttf") format("truetype");
    font-display:swap;
    font-style:normal;
    font-weight:500;
}
@font-face {
    font-family:"Fira Mono";
    src:url("../font/Fira/Fira_Mono/FiraMono-Bold.ttf") format("truetype");
    font-display:swap;
    font-style:normal;
    font-weight:700;
}

@font-face {
    font-family:"Fira Sans";
    src:url("../font/Fira/Fira_Sans/FiraSans-Light.ttf") format("truetype");
    font-display:swap;
    font-style:normal;
    font-weight:300;
}

@font-face {
    font-family:"Fira Sans", sans-serif;
    src:url("../font/Fira/Fira_Sans/FiraSans-LightItalic.ttf") format("truetype");
    font-display:swap;
    font-style:italic, oblique;
    font-weight:300;
}

@font-face {
    font-family:"Fira Sans";
    src:url("../font/Fira/Fira_Sans/FiraSans-Regular.ttf") format("truetype");
    font-display:swap;
    font-style:normal;
    font-weight:400;
}

@font-face {
    font-family:"Fira Sans";
    src:url("../font/Fira/Fira_Sans/FiraSans-Italic.ttf") format("truetype");
    font-display:swap;
    font-style:italic, oblique;
    font-weight:400;
}

@font-face {
    font-family:"Fira Sans";
    src:url("../font/Fira/Fira_Sans/FiraSans-Bold.ttf") format("truetype");
    font-display:swap;
    font-style:normal;
    font-weight:700;
}

@font-face {
    font-family:"Fira Sans";
    src:url("../font/Fira/Fira_Sans/FiraSans-BoldItalic.ttf") format("truetype");
    font-display:swap;
    font-style:italic, oblique;
    font-weight:700;
}
*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  background-color: #1e1e1e !important;
  margin: 0;
  font-family: "Fira Sans", sans-serif !important;
  font-weight: 300;
  letter-spacing: 1.5px;
  text-rendering: optimizeLegibility;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
:root {
  scrollbar-face-color: #222;
  /* Firefox 63 compatibility */
  scrollbar-track-color: #333;
  /* Firefox 63 compatibility */
  scrollbar-color: #222 #333;
  scrollbar-width: thin;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
a {
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
main {
  background-color: #1e1e1e;
}
section {
  background: #1e1e1e;
  color: lightgray;
}
.hidden {
  opacity: 0;
}
section#blend_page {
  height: 100svh;
  color: #222;
  background: #1e1e1e;
  padding: 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.1s -webkit-filter ease;
  -moz-transition: 0.1s -moz-filter ease;
  -moz-transition: 0.1s filter ease;
  -ms-transition: 0.1s -ms-filter ease;
  -o-transition: 0.1s -o-filter ease;
  transition: 0.1s filter ease, 1s -webkit-filter ease;
}
section#blend_page div.landing_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: calc(1em * 4);
  position: relative;
  text-align: center;
}
section#blend_page div.landing_box h1 {
  color: transparent;
  background-image: linear-gradient(90deg, #15dc5a 40%, #9529f9 70%);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 2rem;
}
section#blend_page div.landing_box h2 {
  color: #15dc5a;
}
section#blend_page div.landing_box p {
  color: lightgray;
}
/* section#blend_page */
div#helper_card {
  height: calc(100% - (1em * 4));
  top: 50%;
  left: 50%;
  color: lightgray;
  background-color: rgba(30, 30, 30, 0.7);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  padding: 1em;
  position: absolute;
  z-index: 2;
  line-height: 1.25rem;
  font-size: 0.9rem;
  transition: all 0.4s;
  transform: translate(-50%, -50%);
}
div#helper_card h3 {
  color: #d9b5fd;
  margin-bottom: 1em;
  text-align: center;
}
div#helper_card svg#x {
  cursor: pointer;
  top: 1em;
  right: 1em;
  color: #A63C83;
  margin-bottom: 1em;
  position: absolute;
  transition: all 0.4s;
}
div#helper_card svg#x:hover {
  color: #EA71BF;
}
div#helper_card div#card_message {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
div#helper_card div#card_message ul {
  margin-bottom: calc(1em / 2);
  list-style-position: outside;
  list-style-type: "» ";
}
div#helper_card div#card_message ul.rules {
  margin-bottom: 1em;
}
div#helper_card div#card_message ul.rules span.highlight {
  color: #15dc5a;
  font-style: italic;
}
div#helper_card div#card_message ul.rules li.header {
  margin-bottom: calc(1em / 2);
  list-style: none;
}
div#helper_card div#card_message ul.rules li.header span {
  display: flex;
  align-items: center;
}
div#helper_card div#card_message ul.rules li.header span:after {
  content: "";
  height: 1px;
  background: -webkit-linear-gradient(left, #8aebab, #d9b5fd);
  background: -moz-linear-gradient(left, #8aebab, #d9b5fd);
  background: linear-gradient(to right, #8aebab, #d9b5fd);
  flex-grow: 1;
  margin-left: 1em;
}
div#helper_card div#card_message ul.rules li:not(.header) {
  margin-left: calc(1em * 2);
  font-size: 0.85rem;
}
div#helper_card div#card_message ul.examples_table {
  list-style: none;
}
div#helper_card div#card_message ul.examples_table li table {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  border-collapse: separate;
  border-spacing: calc(1em / 2);
  padding: 0 calc(1em / 2) calc(1em / 2) calc(1em / 2);
}
div#helper_card div#card_message ul.examples_table li table td.header {
  border-bottom: 1px solid lightgray;
  padding: calc(1em / 2);
  position: relative;
  text-align: center;
}
div#helper_card div#card_message ul.examples_table li table td.header span {
  height: 100%;
  top: 0;
  left: calc(1em * 2.5);
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 1.5rem;
}
div#helper_card div#card_message ul.examples_table li table td.header span.valid {
  color: #15dc5a;
}
div#helper_card div#card_message ul.examples_table li table td.header span.invalid {
  color: #A63C83;
  padding-bottom: 0.5rem;
}
div#helper_card div#card_message ul.examples_table li table td.hex_example {
  width: 40%;
}
div#container {
  display: flex;
  flex-direction: column;
}
div#container div#help {
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-bottom: 1em;
}
div#container div#help svg#help_icon {
  color: #8aebab;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
div#container div#help svg#help_icon:hover {
  cursor: pointer;
  color: #15dc5a;
}
div#container div#help div#help_message {
  font-size: 0.9rem;
  font-style: italic;
}
div#container div#error_message {
  width: 100%;
  color: #f0648c;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: calc(1em * 2);
  text-align: center;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
div#container div#bar {
  width: 100%;
  display: flex;
}
div#container div#bar label {
  cursor: pointer;
  width: 33.33%;
  color: #d9b5fd;
  border-radius: calc(8px / 2) calc(8px / 2) 0 0;
  padding: 1em;
  font-family: "Fira Mono", monospace;
  font-size: 1rem;
  font-weight: bolder;
  text-align: center;
  transition: all 0.4s;
}
div#container div#bar label:hover {
  background-color: #181818;
}
div#container div#bar label .blend_tab {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
div#container div#line_container {
  width: 100%;
  height: 2px;
  margin-bottom: 1em;
}
div#container div#line_container div#line {
  width: 33.33%;
  height: 1px;
  background: -webkit-linear-gradient(left, #8aebab, #d9b5fd);
  background: -moz-linear-gradient(left, #8aebab, #d9b5fd);
  background: linear-gradient(to right, #8aebab, #d9b5fd);
  transition: all 0.4s;
}
div#container input#search_tab:checked ~ div#bar label.search_tab {
  background-color: #2d2d2d;
}
div#container input#search_tab:checked ~ div#bar label:not(.search_tab) {
  border-radius: 0;
}
div#container input#search_tab:checked ~ div#bar label.blend_tab {
  border-right: 1px solid #2d2d2d;
}
div#container input#search_tab:checked ~ div#blend_container div#content_container {
  margin-left: 0;
}
div#container input#search_tab:checked ~ div#line_container div#line {
  margin-left: 0%;
}
div#container input#blend_tab:checked ~ div#bar label.blend_tab {
  background-color: #2d2d2d;
}
div#container input#blend_tab:checked ~ div#blend_container div#content_container {
  margin-left: -100%;
}
div#container input#blend_tab:checked ~ div#line_container div#line {
  margin-left: 33.33%;
}
div#container input#random_tab:checked ~ div#bar label.random_tab {
  background-color: #2d2d2d;
}
div#container input#random_tab:checked ~ div#bar label:not(.random_tab) {
  border-radius: 0;
}
div#container input#random_tab:checked ~ div#bar label.blend_tab {
  border-left: 1px solid #2d2d2d;
}
div#container input#random_tab:checked ~ div#blend_container div#content_container {
  margin-left: -200%;
}
div#container input#random_tab:checked ~ div#line_container div#line {
  margin-left: calc(66.6% + 0.5px);
}
div#container input.slide_navigation {
  cursor: pointer;
  display: inline;
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
div#container div#blend_container {
  width: 100%;
  height: 100%;
  color: white;
  overflow: hidden;
}
div#container div#blend_container div#content_container {
  width: 300%;
  height: 100%;
  transition: all 0.4s;
  display: flex;
  /* slide */
}
div#container div#blend_container div#content_container div#random_slide {
  flex-direction: column;
  justify-content: space-around;
}
div#container div#blend_container div#content_container div.slide {
  width: 33.33%;
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  position: relative;
}
div#container div#blend_container div#content_container div.slide div#blend_inputs_container {
  width: 100%;
}
div#container div#blend_container div#content_container div.slide div.input_container {
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(#1e1e1e, #1e1e1e) padding-box, linear-gradient(to bottom right, #15dc5a, #8aebab, #d9b5fd, #9529f9) border-box;
  border: 1px solid transparent;
  margin: 1em 0;
  padding: 1em;
}
div#container div#blend_container div#content_container div.slide div.input_container input.color_input {
  width: 100%;
  color: lightgray;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-family: "Fira Mono", monospace;
  font-size: 0.9rem;
  text-transform: uppercase;
}
div#container div#blend_container div#content_container div.slide div.input_container input.color_input:focus {
  outline: none;
}
div#container div#blend_container div#content_container div.slide div.button {
  color: #1e1e1e;
  display: block;
  border-radius: 8px;
  padding: 1em;
  font-family: "Fira Mono", monospace;
  font-weight: 600;
  text-align: center;
  -webkit-transition: background-color 0.2s, border 0.2s;
  -ms-transition: background-color 0.2s, border 0.2s;
  -o-transition: background-color 0.2s, border 0.2s;
  transition: background-color 0.2s, border 0.2s;
}
div#container div#blend_container div#content_container div.slide div.button:hover {
  cursor: pointer;
}
div#container div#blend_container div#content_container div.slide div#search_button {
  background-color: #8aebab;
}
div#container div#blend_container div#content_container div.slide div#blend_button {
  background: #8aebab;
  background: -webkit-linear-gradient(top left, #8aebab, #d9b5fd);
  background: -moz-linear-gradient(top left, #8aebab, #d9b5fd);
  background: linear-gradient(to bottom right, #8aebab, #d9b5fd);
  border: 1px solid #8aebab;
  opacity: 1;
  z-index: 1;
  -webkit-transition: opacity 0.2s, border 0.2s;
  -ms-transition: opacity 0.2s, border 0.2s;
  -o-transition: opacity 0.2s, border 0.2s;
  transition: opacity 0.2s, border 0.2s;
}
div#container div#blend_container div#content_container div.slide div#blend_button:hover {
  opacity: 0;
}
div#container div#blend_container div#content_container div.slide div#blend_button_new {
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
  background: #d9b5fd;
  background: -webkit-linear-gradient(top left, #d9b5fd, #8aebab);
  background: -moz-linear-gradient(top left, #d9b5fd, #8aebab);
  background: linear-gradient(to bottom right, #d9b5fd, #8aebab);
  border: 1px solid #d9b5fd;
  position: absolute;
  z-index: 0;
}
div#container div#blend_container div#content_container div.slide div#random_button {
  background: #d9b5fd;
}
div#container div#blend_container div#content_container div.slide div#random_gradient {
  background: #8aebab;
  background: -webkit-linear-gradient(top left, #8aebab, #d9b5fd);
  background: -moz-linear-gradient(top left, #8aebab, #d9b5fd);
  background: linear-gradient(to bottom right, #8aebab, #d9b5fd);
  border: 1px solid #8aebab;
  opacity: 1;
  z-index: 1;
  -webkit-transition: opacity 0.2s, border 0.2s;
  -ms-transition: opacity 0.2s, border 0.2s;
  -o-transition: opacity 0.2s, border 0.2s;
  transition: opacity 0.2s, border 0.2s;
}
div#container div#blend_container div#content_container div.slide div#random_gradient:hover {
  opacity: 0;
}
div#container div#blend_container div#content_container div.slide div#random_gradient_new {
  bottom: calc(1em * 1.5);
  background: #d9b5fd;
  background: -webkit-linear-gradient(top left, #d9b5fd, #8aebab);
  background: -moz-linear-gradient(top left, #d9b5fd, #8aebab);
  background: linear-gradient(to bottom right, #d9b5fd, #8aebab);
  border: 1px solid #d9b5fd;
  position: absolute;
  z-index: 0;
}
.section-hidden {
  opacity: 0;
  display: none !important;
}
section#colors_section {
  width: 100%;
  border-top: 1px solid gray;
  padding: 1em;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
footer {
  width: 100%;
  color: lightgray;
  background-color: #1e1e1e;
  border-top: 1px solid gray;
  display: flex;
  flex-direction: column;
  padding: calc(1em * 2);
}
footer div#copyright {
  margin-top: 1em;
  padding: 1em;
  text-align: center;
  border-top: 1px solid gray;
}
.clicked {
  width: 140px !important;
}
/* DESKTOP */
@media only screen and (min-width: 960px) {
  div#helper_card {
    width: 500px;
  }
  section#blend_page {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-column-gap: calc(1em * 3);
    -moz-column-gap: calc(1em * 3);
    column-gap: calc(1em * 3);
    flex-direction: row;
  }
  section#blend_page div.landing_box {
    width: 50%;
  }
  section#blend_page div#container {
    width: 50%;
  }
  section#colors_section div.palette_container {
    width: 60%;
  }
}
/* TABLET */
@media only screen and (max-width: 959px) {
  div#helper_card {
    width: 500px;
  }
  section#blend_page {
    justify-content: space-between;
    flex-direction: column;
  }
  section#blend_page div.landing_box {
    width: 70%;
  }
  section#blend_page div#container {
    width: 60%;
  }
  section#colors_section div.palette_container {
    width: 80%;
  }
}
/* MOBILE */
@media only screen and (max-width: 650px) {
  div#helper_card {
    width: calc(100% - (1em * 4));
  }
  section#blend_page {
    justify-content: space-between;
    flex-direction: column;
  }
  section#blend_page div.landing_box {
    width: 100%;
  }
  section#blend_page div#container {
    width: 100%;
  }
  section#colors_section div.palette_container {
    width: 100%;
  }
}
