/* #15dc5a */
@blend_color_one:rgb(21, 220, 90);
/* #9529f9 */
@blend_color_two:rgb(149, 41, 249);
@blend_color_three:rgb(85, 128, 166);
/* #8AEBAB */
@blend_color_one_light:rgb(138, 235, 171);
/* #D9B5FD */
@blend_color_two_light:rgb(217, 181, 253);

@dark:rgb(30, 30, 30);
@main_margin:1em;
@main_padding:1em;
@main_radius:8px;

@-ms-viewport{
    width:device-width;
}
/*
@font-face {
    font-family:"Fira Mono";
    src:url("../font/Fira/Fira_Mono/FiraMono-Regular.ttf") format("truetype");
    font-display:swap;
    font-style:normal;
    font-weight:400;
}
@font-face {
    font-family:"Fira Mono";
    src:url("../font/Fira/Fira_Mono/FiraMono-Medium.ttf") format("truetype");
    font-display:swap;
    font-style:normal;
    font-weight:500;
}
@font-face {
    font-family:"Fira Mono";
    src:url("../font/Fira/Fira_Mono/FiraMono-Bold.ttf") format("truetype");
    font-display:swap;
    font-style:normal;
    font-weight:700;
}

@font-face {
    font-family:"Fira Sans";
    src:url("../font/Fira/Fira_Sans/FiraSans-Light.ttf") format("truetype");
    font-display:swap;
    font-style:normal;
    font-weight:300;
}

@font-face {
    font-family:"Fira Sans", sans-serif;
    src:url("../font/Fira/Fira_Sans/FiraSans-LightItalic.ttf") format("truetype");
    font-display:swap;
    font-style:italic, oblique;
    font-weight:300;
}

@font-face {
    font-family:"Fira Sans";
    src:url("../font/Fira/Fira_Sans/FiraSans-Regular.ttf") format("truetype");
    font-display:swap;
    font-style:normal;
    font-weight:400;
}

@font-face {
    font-family:"Fira Sans";
    src:url("../font/Fira/Fira_Sans/FiraSans-Italic.ttf") format("truetype");
    font-display:swap;
    font-style:italic, oblique;
    font-weight:400;
}

@font-face {
    font-family:"Fira Sans";
    src:url("../font/Fira/Fira_Sans/FiraSans-Bold.ttf") format("truetype");
    font-display:swap;
    font-style:normal;
    font-weight:700;
}

@font-face {
    font-family:"Fira Sans";
    src:url("../font/Fira/Fira_Sans/FiraSans-BoldItalic.ttf") format("truetype");
    font-display:swap;
    font-style:italic, oblique;
    font-weight:700;
}
*/
*, *:before, *:after {
    margin:0;
    padding:0;
    
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
}

html {
    background-color:@dark !important;
    
    margin:0;
    
    font-family:"Fira Sans", sans-serif !important;
    font-weight:300;
    letter-spacing:1.5px;
    text-rendering:optimizeLegibility;
}

body {
    width:100%;
    
    margin:0;
    padding:0;
}

:root{
  scrollbar-face-color:#222; /* Firefox 63 compatibility */
  scrollbar-track-color:#333; /* Firefox 63 compatibility */
  scrollbar-color: #222 #333;
  scrollbar-width: thin;
}

.clearfix::after {
    content:"";
    clear:both;
    display:table;
}

a {
    -webkit-text-decoration:none;
    -moz-text-decoration:none;
    text-decoration:none;
    
    -webkit-transition:0.3s ease;
    -moz-transition:0.3s ease;
    -o-transition:0.3s ease;
    transition:0.3s ease;
}

main {
    background-color:@dark;
}

section {
    background:@dark;
    color:lightgray;
}

.hidden {
    opacity:0;
}

section#blend_page {
    height:100svh;
    color:#222;
    background:@dark;
    padding:@main_padding;

    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    
    -webkit-box-align:center;
    -webkit-align-items:center;
    -moz-box-align:center;
    -ms-flex-align:center;
    align-items:center;

    -webkit-transition: 0.1s -webkit-filter ease;
    -moz-transition: 0.1s -moz-filter ease;
    -moz-transition: 0.1s filter ease;
    -ms-transition: 0.1s -ms-filter ease;
    -o-transition: 0.1s -o-filter ease;
    transition: 0.1s filter ease, 1s -webkit-filter ease;
    
    div.landing_box {
        width:100%;
        height:100%;

        display:flex;
        flex-direction:column;
        justify-content:center;
        gap:calc(@main_margin * 4);
        
        position:relative;

        text-align:center;

        h1 {
            color:transparent;
            background-image:linear-gradient(90deg, @blend_color_one 40%, @blend_color_two 70%);
            -webkit-background-clip:text;
            background-clip:text;
            font-size:2rem;
        }
              
        h2 {
            color:@blend_color_one;
        }
        
        p {
            color:lightgray;
        }
    }

} /* section#blend_page */

div#helper_card {
    height:calc( 100% - ( @main_margin * 4 ));
    top:50%;
    left:50%;

    color:lightgray;
    background-color:rgba(30, 30, 30, 0.9);
    backdrop-filter:blur(12px);

    border:1px solid rgba(255, 255, 255, 0.3);
    border-radius:@main_radius;
    box-shadow:0px 0px 10px rgba(255, 255, 255, 0.1);

    display:flex;
    flex-direction:column;

    padding:@main_padding;
    position:absolute;
    z-index:2;

    line-height:1.25rem;
    font-size:0.9rem;

    transition:all 0.4s;

    transform:translate(-50%, -50%);

    h3 {
        color:@blend_color_two_light;
        margin-bottom:@main_margin;
        text-align:center;
    }
    svg#x {
        cursor:pointer;
        top:@main_padding;
        right:@main_padding;;
        color:#A63C83;
        margin-bottom:@main_margin;
        position:absolute;
        transition:all 0.4s;

        &:hover {
            color:#EA71BF;
        }
    }

    div#card_message {
        height:100%;
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        
        ul {
            margin-bottom:calc( @main_margin / 2 );
            list-style-position:outside;
            list-style-type:"» ";

            &.rules {
                margin-bottom:@main_margin;

                span.highlight {
                    color:@blend_color_one;
                    font-style:italic;
                }

                li.header {
                    margin-bottom:calc( @main_margin / 2 );
                    list-style:none;

                    span {
                        display:flex;
                        align-items:center;

                        &:after {
                            content:"";
                            height:1px;
                            background:-webkit-linear-gradient(left, @blend_color_one_light, @blend_color_two_light);
                            background:-moz-linear-gradient(left, @blend_color_one_light, @blend_color_two_light);
                            background:linear-gradient(to right, @blend_color_one_light, @blend_color_two_light);
                            flex-grow:1;
                            margin-left:@main_margin;
                        }
                    }
                }
                li:not(.header) {
                    margin-left:calc( @main_margin * 2 );
                    font-size:0.85rem;
                }
            }

            &.examples_table {
                list-style:none;

                li table {
                    width:100%;
                    background-color:#333;
                    border:1px solid rgba(255, 255, 255, 0.3);
                    border-radius:@main_radius;
                    border-collapse:separate;
                    border-spacing:calc( @main_margin / 2 );
                    padding:0 calc( @main_padding / 2 ) calc( @main_padding / 2 ) calc( @main_padding / 2 );

                    td {
                        &.header {
                            border-bottom:1px solid lightgray;
                            padding:calc( @main_margin / 2 );
                            position:relative;
                            text-align:center;

                            span {
                                height:100%;

                                top:0;
                                left:calc( @main_margin * 2.5 );

                                display:flex;
                                align-items:center;
                                position:absolute;
                                font-size:1.5rem;

                                &.valid {
                                    color:@blend_color_one;
                                }
                                &.invalid {
                                    color:#A63C83;
                                    padding-bottom:0.5rem;
                                }
                            }
                        }
                        &.hex_example {
                            width:40%;
                        }
                    }
                }
            }
        }
    }
}

div#container {
    display:flex;
    flex-direction:column;

    -webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    -ms-transition:all 0.5s;
    -o-transition:all 0.5s;
    transition:all 0.5s;

    div#help {
        color:gray;
        display:flex;
        justify-content:center;
        align-items:center;
        gap:@main_margin;
        margin-bottom:@main_margin;

        -webkit-transition:all 0.5s;
        -moz-transition:all 0.5s;
        -ms-transition:all 0.5s;
        -o-transition:all 0.5s;
        transition:all 0.5s;

        svg#help_icon {
            color:@blend_color_one_light;
            -webkit-transition:0.3s ease;
            -moz-transition:0.3s ease;
            -o-transition:0.3s ease;
            transition:0.3s ease;

            &:hover {
                cursor:pointer;
                color:@blend_color_one;
            }
        }

        div#help_message {
            font-size:0.9rem;
            font-style:italic;
        } 
    }
         
    div#error_message {
        width:100%;
        color:rgb(240, 100, 140);
        
        display:flex;
        align-items:center;
        justify-content:space-around;

        margin-bottom:calc(@main_margin * 2);

        text-align:center;

        -webkit-transition:0.3s ease;
        -moz-transition:0.3s ease;
        -o-transition:0.3s ease;
        transition:0.3s ease;
    }

    div#bar {
        width:100%;
        display:flex;

        label {
            cursor:pointer;
            width:33.33%;

            color:@blend_color_two_light;
            border-radius:calc( @main_radius / 2 ) calc( @main_radius / 2 ) 0 0;

            padding:@main_padding;

            font-family:"Fira Mono", monospace;
            font-size:1rem;
            font-weight: bolder;
            text-align:center;

            transition:all 0.4s;

            &:hover {
                background-color:rgb(24, 24, 24);
            }

            .blend_tab {
                border-left:1px solid transparent;
                border-right:1px solid transparent;
            }
        }
    }

    div#line_container {
        width:100%;
        height:2px;
        margin-bottom:@main_margin;

        div#line {
            width:33.33%;
            height:1px;
            background:-webkit-linear-gradient(left, @blend_color_one_light, @blend_color_two_light);
            background:-moz-linear-gradient(left, @blend_color_one_light, @blend_color_two_light);
            background:linear-gradient(to right, @blend_color_one_light, @blend_color_two_light);
            transition:all 0.4s;
        }
    }

    input#search_tab:checked {
        & ~ div#bar label.search_tab {
            background-color:rgb(45, 45, 45);
        }
        & ~ div#bar label:not(.search_tab) {
            border-radius:0;
        }
        & ~ div#bar label.blend_tab {
            border-right:1px solid rgb(45, 45, 45);
        }
        & ~ div#blend_container div#content_container {
            margin-left:0;
        }
        & ~ div#line_container div#line {
            margin-left:0%;
        }
    }

    input#blend_tab:checked {
        & ~ div#bar label.blend_tab {
            background-color:rgb(45, 45, 45);
        }
        & ~ div#blend_container div#content_container {
            margin-left:-100%;
        }
        & ~ div#line_container div#line {
            margin-left:33.33%;
        }
    }

    input#random_tab:checked {
        & ~ div#bar label.random_tab {
            background-color:rgb(45, 45, 45);
        }
        & ~ div#bar label:not(.random_tab) {
            border-radius:0;
        }
        & ~ div#bar label.blend_tab {
            border-left:1px solid rgb(45, 45, 45);
        }
        & ~ div#blend_container div#content_container {
            margin-left:-200%;
        }
        & ~ div#line_container div#line {
            margin-left:calc(66.6% + 0.5px);
        }
    }

    input.slide_navigation {
        cursor:pointer;
        display:inline;
        opacity:0;
        
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
        -webkit-backface-visibility:hidden;
        backface-visibility:hidden;
    }

    div#blend_container {
        width:100%;
        height:100%;

        color:white;
        overflow:hidden;

        div#content_container {
            width:300%;
            height:100%;
            transition:all 0.4s;
            display:flex;

            div#random_slide {
                flex-direction:column;
                justify-content:space-around;
            }

            div.slide {
                width:33.33%;
                
                padding:@main_padding;
                display:flex;
                flex-direction:row;
                align-items:center;
                justify-content:space-between;
                gap:@main_margin;

                position:relative;

                div#blend_inputs_container {
                    width:100%;
                }

                div.input_container {
                    width:100%;
                    border-radius:@main_radius;
                    background:linear-gradient(@dark, @dark) padding-box,
                    linear-gradient(to bottom right, @blend_color_one, @blend_color_one_light,
                    @blend_color_two_light, @blend_color_two) border-box;
                    border:1px solid transparent;
                    margin:@main_margin 0;
                    padding:@main_padding;

                    input.color_input {
                        width:100%;
                        color:lightgray;
                        background-color:rgba(255, 255, 255, 0);
                        border:none;
                                
                        font-family:"Fira Mono", monospace;
                        font-size:0.9rem;
                        text-transform:uppercase;
                                
                        &:focus {
                            outline:none;
                        }
                    }
                }

                button {
                    color:@dark;

                    display:block;
                    
                    border-radius:@main_radius;
                    padding:@main_padding;
                    
                    font-family:"Fira Mono", monospace;
                    font-weight:600;
                    text-align:center;
                    
                    -webkit-transition:background-color 0.2s, border 0.2s;
                    -ms-transition:background-color 0.2s, border 0.2s;
                    -o-transition:background-color 0.2s, border 0.2s;
                    transition:background-color 0.2s, border 0.2s;
                    
                    &:hover {
                        cursor:pointer;
                    }

                    &#search_button {
                        background-color:@blend_color_one_light;
                        border:1px solid transparent;

                        &:hover {
                            background-color:@blend_color_two_light;
                        }
                    }

                    &#blend_button_dummy {
                        background:@blend_color_one_light;
                        background:-webkit-linear-gradient(top left, @blend_color_one_light, @blend_color_two_light);
                        background:-moz-linear-gradient(top left, @blend_color_one_light, @blend_color_two_light);
                        background:linear-gradient(to bottom right, @blend_color_one_light, @blend_color_two_light);
                        
                        border:none;
                        opacity:1;
                        z-index:1;
                        
                        -webkit-transition:opacity 0.2s, border 0.2s;
                        -ms-transition:opacity 0.2s, border 0.2s;
                        -o-transition:opacity 0.2s, border 0.2s;
                        transition:opacity 0.2s, border 0.2s;
                        
                        &:hover {
                            opacity:0;
                        }
                    }

                    &#blend_button {
                        top:50%;
                        right:calc( @main_padding + 2.5px);
                        transform:translateY( -50% );
                        
                        background:@blend_color_two_light;
                        background:-webkit-linear-gradient(top left, @blend_color_two_light, @blend_color_one_light);
                        background:-moz-linear-gradient(top left, @blend_color_two_light, @blend_color_one_light);
                        background:linear-gradient(to bottom right, @blend_color_two_light, @blend_color_one_light);
                        
                        border:none;
                        
                        position:absolute;
                        z-index:0;
                    }

                    &#random_button {
                        background:@blend_color_two_light;
                        border:1px solid transparent;

                        &:hover {
                            background-color:@blend_color_one_light;
                        }
                    }

                    &#random_gradient_dummy {
                        background:@blend_color_one_light;
                        background:-webkit-linear-gradient(top left, @blend_color_one_light, @blend_color_two_light);
                        background:-moz-linear-gradient(top left, @blend_color_one_light, @blend_color_two_light);
                        background:linear-gradient(to bottom right, @blend_color_one_light, @blend_color_two_light);
                        
                        border:1px solid transparent;
                        opacity:1;
                        z-index:1;
                        
                        -webkit-transition:opacity 0.2s, border 0.2s;
                        -ms-transition:opacity 0.2s, border 0.2s;
                        -o-transition:opacity 0.2s, border 0.2s;
                        transition:opacity 0.2s, border 0.2s;
                        
                        &:hover {
                            opacity:0;
                        }
                    }

                    &#random_gradient {
                        bottom:calc( (@main_padding * 2) + 0.5px );
                        background:@blend_color_two_light;
                        background:-webkit-linear-gradient(top left, @blend_color_two_light, @blend_color_one_light);
                        background:-moz-linear-gradient(top left, @blend_color_two_light, @blend_color_one_light);
                        background:linear-gradient(to bottom right, @blend_color_two_light, @blend_color_one_light);
                        
                        border:1px solid transparent;
                        z-index:0;
                        
                        position:absolute;
                    }
                }
            } /* slide */
        }   
    }
} 

.section-hidden {
  opacity:0;
  display:none !important;
}

section#colors_section {
    width:100%;
    border-top:1px solid gray;
    padding:@main_padding;

    -webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    -ms-transition:all 0.5s;
    -o-transition:all 0.5s;
    transition:all 0.5s;

    h2 {
        width:auto;
        color:@blend_color_two_light;
        margin:calc( @main_margin / 2 ) 0 @main_margin 0;
        
        display:flex;
        align-items:center;
        justify-content:center;

        &:before {
            background:-webkit-linear-gradient(left, @blend_color_one_light, @blend_color_two_light);
            background:-moz-linear-gradient(left, @blend_color_one_light, @blend_color_two_light);
            background:linear-gradient(to right, @blend_color_one_light, @blend_color_two_light);
            margin-right:@main_margin;
        }
        &:after {
            background:-webkit-linear-gradient(right, @blend_color_one_light, @blend_color_two_light);
            background:-moz-linear-gradient(right, @blend_color_one_light, @blend_color_two_light);
            background:linear-gradient(to left, @blend_color_one_light, @blend_color_two_light);
            
            margin-left:@main_margin;
        }

        &:before,
        &:after {
            content:"";
            height:2px;
            flex-grow:1;
        }
    }  

    div.container {
        margin:@main_margin 0;

        -webkit-transition:all 0.5s;
        -moz-transition:all 0.5s;
        -ms-transition:all 0.5s;
        -o-transition:all 0.5s;
        transition:all 0.5s;

        &:first-of-type {
            margin-top:0;
        }
        
        &:last-of-type {
            margin-bottom:0;
        }
    }

    div.color_palette, div.gradient_palette {
        height:0px;
        overflow:hidden;

        display:-webkit-box;
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex;

        -webkit-transition:all 0.5s;
        -moz-transition:all 0.5s;
        -ms-transition:all 0.5s;
        -o-transition:all 0.5s;
        transition:all 0.5s;

        div.color {
            cursor:pointer;
            width:50px;
            height:70px;
            border-radius:@main_radius;
            margin:calc(@main_margin/8);
            flex-grow:1;
            box-shadow:1px 1px 0 rgba(255, 255, 255, 0.2) inset, -1px -1px black inset, 1px 1px black;
            -webkit-transition:width 0.5s, background-color 0.5s;
            -moz-transition:width 0.5s, background-color 0.5s;
            -ms-transition:width 0.5s, background-color 0.5s;
            -o-transition:width 0.5s, background-color 0.5s;
            transition:width 0.5s, background-color 0.5s;
        }
    }

    div.about {
        display:flex;
        align-items:center;
        justify-content:space-between;

        div.active_color {
            width:28%;
            height:120px;
            border:1px solid rgba(255, 255, 255, 0.3);
            border-radius:@main_radius;
            
            display:flex;
            align-items:end;
            justify-content:center;
            margin-right:@main_margin;
            
            -webkit-transition:background-color 0.5s;
            -moz-transition:background-color 0.5s;
            -ms-transition:background-color 0.5s;
            -o-transition:background-color 0.5s;
            transition:background-color 0.5s;

            div.show_palette_button {
                cursor:pointer;
                width:100%;
                color:#333;
                background-color:rgba(255, 255, 255, 0.6);
                border:1px solid rgba(255, 255, 255, 0.8);
                border-radius:0 0 @main_radius @main_radius;

                display:flex;
                align-items:center;
                justify-content:space-around;

                padding:calc( @main_padding/2 );
                font-size:0.8rem;
                font-weight:bold;
                text-align:center;

                span.show_palette_arrow {
                    display:inline-block;
                    transform:rotate(-180deg);

                    font-size:1rem;

                    -webkit-transition:all 0.5s;
                    -moz-transition:all 0.5s;
                    -ms-transition:all 0.5s;
                    -o-transition:all 0.5s;
                    transition:all 0.5s;
                }
            }
        }

        table.info {
            width:70%;
            color:lightgray;
            background-color:rgba(0, 0, 0, 0.2);
            border:1px solid rgba(255, 255, 255, 0.3);
            border-radius:@main_radius;

            text-transform:uppercase;
            border-spacing:calc(@main_margin / 2);

            td {
                text-align:left;
                font-weight:bold;

                &.hex_label,
                &.rgb_label,
                &cmyk_label {
                    width:30%;  
                }
            }
        }
    }

    div.gradient {
        width:100%;
        height:100px;
        border:1px solid #666;
        border-radius:@main_radius;
        margin-bottom:@main_margin;

        -webkit-transition:all 0.5s;
        -moz-transition:all 0.5s;
        -ms-transition:all 0.5s;
        -o-transition:all 0.5s;
        transition:all 0.5s;
    }

    .clicked {
        width:140px !important;
    }
}

footer {
    width:100%;

    color:lightgray;
    background-color:@dark;
    border-top:1px solid gray;

    display:flex;
    flex-direction:column;

    padding:calc(@main_padding * 2);

    div#footer_info {
        display:flex;
        align-items:center;
        justify-content:space-between;
        gap:calc( @main_margin * 2 );
        margin:0 auto @main_margin auto;

        div#icons {
            width:30%;

            div#git {
                width:60px;
                height:60px;
                position:relative;

                svg.main_icon {
                    width:100%;
                    height:100%;
                    z-index:2;
                }
                svg.dummy_icon {
                    width:100%;
                    height:100%;
                    position:absolute;
                    top:0;
                    left:0;
                    z-index:0;

                    -webkit-transition:all 0.3s;
                    -moz-transition:all 0.3s;
                    -ms-transition:all 0.3s;
                    -o-transition:all 0.3s;
                    transition:all 0.3s;

                    &:hover {
                        opacity:0;
                    }
                }
            }
        }

        span {
        }

    } 

    div#copyright {
        margin-top:@main_margin;
        padding:calc( @main_padding * 2 );
        text-align:center;
        border-top:1px solid gray;
    }
}

/* DESKTOP */

@media only screen and (min-width:960px) {

    div#helper_card {
        width:500px;
    }

    section#blend_page {
        -webkit-box-pack:center;
        -webkit-justify-content:center;
        -moz-box-pack:center;
        -ms-flex-pack:center;
        justify-content:center;

        -webkit-column-gap:calc(@main_margin * 3);
        -moz-column-gap:calc(@main_margin * 3);
        column-gap:calc(@main_margin * 3);

        flex-direction:row;

        div.landing_box {
            width:50%;
        }

        div#container {
            width:50%;
        }
    }

    section#colors_section {
        div.container {
            width:50%;
            margin-left:auto;
            margin-right:auto;
        }
    }

    footer {
        div#footer_info {
            width:auto;
        }
    }
}

/* TABLET */

@media only screen and (max-width:959px) {

    div#helper_card {
        width:500px;
    }

    section#blend_page {
        justify-content:space-between;
        flex-direction:column;

        div.landing_box {
            width:70%;
        }

        div#container {
            width:60%;
        }
    }

    section#colors_section {
        div.container {
            width:70%;
            margin-left:auto;
            margin-right:auto;
        }
    }

    footer {
        div#footer_info {
            width:auto;
        }
    }
}

/* MOBILE */

@media only screen and (max-width:650px) {

    div#helper_card {
        width:calc( 100% - ( @main_margin * 4 ) );
    }

    section#blend_page {
        justify-content:space-between;
        flex-direction:column;

        div.landing_box {
            width:100%;
        }

        div#container {
            width:100%;
        }

    }

    section#colors_section {
        div.container {
            width:100%;
        }
    }

    footer {
        div#footer_info {
            width:auto;
        }
    }
}

